<%= form_for[current_user, @message] do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages %>
      </ul>
    </div>
  <% end %>

  <div>
<%= f.label 'Choose recipient' %> <br>
    <%= f.collection_select :recipient_id, current_user.partners, :id, :name %>
  </div>

  <div>
    <%= f.text_field :title, placeholder: 'Enter subject' %>
  </div>
  <div>
    <%= f.text_area :body, placeholder: 'Type message here' %>
  </div>
  <div>
    <%= f.submit 'Send Message' %>
  </div>
<% end %>
