<div class="small-6 small-centered small-centered columns">
<div class="panel">
<%= render 'common/flash' %>
<section class="inbox">
  <h2>My Inbox</h2>
  <div class="messages">
  <div class="sent">
    <h3> Sent (<%= current_user.sent_messages.count %>) </h3>
      <% current_user.sent_messages.each do |message| %>
        <h4><%=  message.title %></h4>
        <p> <%= message.body %></p>
        <%= link_to 'delete', user_message_path(user_id: current_user.id, id: message.id), method: :delete %>
      <% end %>
  </div>
  <div class="received">
    <h3> Recieved (<%= current_user.received_messages.count %>) </h3>
    <% current_user.received_messages.each do |message| %>
      <h4><%=  link_to message.title, user_message_path(user_id: message.recipient_id, id: message.id) %> </h4>
      <p><%= message.body %> </p>
       <%= link_to 'delete', user_message_path(user_id: current_user.id, id: message.id), method: :delete %>
    <% end %>
  </div>
  </div>
</section>
</div>
</div>
