
<div class="row">
<div class="small-6 small-centered small-centered columns">
  <div class="panel callout radius">
  <h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%# form_for @user, :url => user_path(current_user), :html => { :multipart => true } do |form| %>
  <%# form.file_field :avatar %>
  <%#end %>

  <div class="field"><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div class="field"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field"><%= f.label :location %><br />
  <%= f.text_field :location %></div>

   <div class="field"><%= f.label :age %><br />
  <%= f.number_field :age %></div>

   <div class="field"><%= f.label :goals %><br />
  <%= f.text_field :goals %></div>


  <a class="button round"><%= f.submit "Sign up" %></a>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
