<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_activity.user_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @user_activity.activity_id %>
</p>

<%= link_to 'Edit', edit_user_activity_path(@user_activity) %> |
<%= link_to 'Back', user_activities_path %>
