
<div class="partnerinfo">
  <h2> <%= @partner.username.upcase %> </h2>
  <h4> wants a partner for: </h4>
  <ul>
    <% @partner.activities.each do |activity| %>
      <li> <%= activity.name %> </li>
    <% end %>
  </ul>
  <h4> lives in: </h4>
  <%= @partner.location %>

  <h4> Other information: </h4>
  <p> Age:<%= @partner.age %> <br>
  Goals:<%= @partner.goals %><br>
  About:<%= @partner.about_me %><br>
  Email: <%= @partner.email %> </p>

  <% if current_user == @partner %>
    <div>
      <h4> Add an activity: </h4>
      <ul>
        <% @activities.each do |activity| %>
          <% unless current_user.activities.include?(activity) %>
            <li> <%= link_to activity.name, user_activities_path(activity_id: activity.id), method: :post %> </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <h4> <% if current_user %><%= link_to 'Edit Profile', edit_user_registration_path(current_user) %> </h4>
    <% end %>
     <% end %>
    <div class="smallbutton"> <h2> <%= button_to "Message to request user as a FitBud", new_user_message_path(@partner), :class => "smallbutton", :method => :get %><br />
      <%= button_to "My Profile", user_path(current_user) , :class => "smallbutton", :method => :get %><br /> </h2>
    </div>


</div>
