<%# image_tag @partner.avatar(:medium) %>
<div class="partnerinfo">
  <h2> <%= @partner.username.upcase %> </h2>
  <h4> wants a partner for: </h4>
  <ul>
    <% @partner.activities.each do |activity| %>
      <li> <%= activity.name %> </li>
    <% end %>
  </ul>
  <h4> lives in: </h4>
  <%= @partner.location %>

  <h4> Other information: </h4>
  <%= @partner.age %>
  <%= @partner.goals %>


  <% if current_user == @partner %>
    <div>
      <h4> Add an activity: </h4>
      <ul>
        <% @activities.each do |activity| %>
          <% unless current_user.activities.include?(activity) %>
            <li> <%= link_to activity.name, user_activities_path(activity_id: activity.id), method: :post %> </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <h4> <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %> </h4>
  <% end %>
    <% unless current_user == @partner || current_user.partners.include?(@partner) %>
    <div class="request"> <h2> <%= button_to "Message to request user as a FitBud", new_user_message_path(@partner) %>
      <%= button_to "My Profile", user_path(current_user) %> </h2>
    </div>
    <% end %>
</div>
