
<%= render 'common/flash' %>
<!-- <section class="user-show"> -->
  <div class="small-6 small-centered small-centered columns">
  <div class="panel callout radius">
<div class="showuser">

<%= image_tag @user.avatar.url(:medium) %>

  <%= render 'info' %>

  <%# else %>
    <% if current_user == @partner %>
    <div class="matches">
      <%# if @requests.any? %>
        <%= render 'requests' %>
      <%# end %>
      <%# if current_user.matches.any? %>
        <%= render 'partners' %>
      <%# end %>
    </div>
    <%# end %>
  <% end %>
<!-- </section> -->
</div>
</div>
</div>
