<!DOCTYPE html>
<html>
<head>
  <title>FitBud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">FitBud</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="#">My Profile</a></li>
          <li class="active"><a href="/activities">Browse Activities</a></li>
         <li class="active"><a href="/messages">Inbox</a></li>
         <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
         <li class="active"><%= link_to 'Login', new_user_session_path %> </li>
         <li class="active"><%= link_to 'Sign up', new_user_registration_path %> </li>

        </ul>
      </li>
    </ul>
     <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">About Fitbud</a></li>
    </ul>
  </section>
</nav>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<%= yield %>

</body>
</html>
