<!DOCTYPE html>
<html>
<head>
  <title>FitBud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/activities">FitBud</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
        <% if user_signed_in? %>
          <li class="active"><%= link_to "My Profile", user_path(current_user) %></li>
          <li class="active"><a href="/activities">Browse Activities</a></li>
         <li class="active"><a href="/messages">Inbox</a></li>
         <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
         <li class="active"><%= link_to 'Login', new_user_session_path %> </li>
         <% else %>
         <li class="active"><%= link_to 'Sign up', new_user_registration_path %> </li>
         <% end %>
       </ul>
      </li>
    </ul>

     <!-- Left Nav Section -->
     <div class="row">
      <div class="large-12 columns"></div>
      <div class="large-8 columns"></div>
    </div>


  </section>
</nav>

<%= yield %>

</body>
</html>
